body {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 1rem;
}
.card {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    background-color: #54436B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


.card-content {
    padding: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-img {
    object-fit: cover;
    flex-basis: 250px;
    min-width: 0;
    min-height: 0;
    border-radius: 15px 15px 0 0;
    background-color: royalblue;
}

.card-title {
    font-weight: 800;
    color: #71EFA3;
    font-size: 1.75rem;
    margin: 0 0 16px 0;
}

.card-subtitle {
    font-size: 1.40rem;
    color: #d2f7d2;   
    margin: 0 0 16px 0;
}

.card-button {
    font-size: 1.15rem;
    background-color: #d2f7d2;
    color: #171717;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: .25em 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 8px
}
.card-button:hover {
    cursor: pointer;
    background-color: #171717;
    color: #d2f7d2;
    box-shadow: 0 5px 15px #d2f7d2;
}

.card-read-time {
    margin: 0;
    color: #d4f7b0;
    opacity: 0.8;
    line-height: 1;
}
.card-read-time span {
    font-weight: 800;
    display: block;
    font-size: 1.20em;
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }
    .card-img {
        border-radius: 15px 0 0 15px;
    }
    .card-img {
        height: 300px;
    }
    .card-content {
        display: flex;
        flex-direction: column;
    }
    .card-title {
        font-size: 2.25rem
    }
    
    .card-body {
        font-size: 1.125rem;
    }
    .card-footer {
        margin-top: auto;
    }
}
